# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.spec

# Log files
logs/
*.log

# Database files
*.db
*.sqlite
*.sqlite3

# Archives and temp directories
*.zip
*.7z
KLYP_v0.01/

# Temporary files
*.swp
*~